{{ if eq .chezmoi.hostname "blackpanther" }}
wallpaper {
    monitor = DP-1
    path = ~/Pictures/Wallpapers/elysia.png
    fit_mode = cover
}

wallpaper {
    monitor = DP-2
    path = ~/Pictures/Wallpapers/ecatherina-farias-teste-2.jpg
    fit_mode = cover
}

wallpaper {
    monitor = HDMI-A-2
    path = ~/Pictures/Wallpapers/ding.jpg
    fit_mode = cover
}

wallpaper {
    monitor = HDMI-A-1
    path = ~/Pictures/Wallpapers/anime_cyberpink_city.jpg
    fit_mode = cover
}
{{ else if eq .chezmoi.hostname "nicolai-xps9320" }}
wallpaper {
    monitor = 
    path = ~/Pictures/Wallpapers/ancient_magnus.jpg
    fit_mode = cover
}
{{ end }}


splash = false